/* Color Theme Swatches in Hex */
/*.Verde-1-hex { color: #193C40; }
principal { color: #2E5902; }
background { color: #214001; }
.Verde-4-hex { color: #D96941; }
destaque { color: #A62B1F; } */

html{

    background: #D96941;
    color: #2E5902;
}