/* Color Theme Swatches in Hex */
/*.Verde-1-hex { color: #193C40; }
principal { color: #2E5902; }
background { color: #214001; }
.Verde-4-hex { color: #D96941; }
destaque { color: #A62B1F; } */

html{

    background: #D96941;
    color: #2E5902;

    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
p {
text-indent: 1em;
}

h1,h2,h3 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary{text-align: right;}
.main p {line-height: 1.5;}
abbr {font-variant: small-caps;}